<tr class="item" data-uid="<%= model.uid %>">
    <td class="row-num"><%= rowNum %></td>
    <td class="date">
        <input data-field="date" type="date" value="<%= model.date %>">
    </td>
    <td class="description">
        <input data-field="description" type="text" value="<%= model.description %>">
    </td>
    <td class="amount">
        <input data-field="amount" type="text" value="<%= model.amount %>">
    </td>
    <td class="actions"></td>
</tr>
